@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parkinsans:wght@300..800&display=swap');


/* Gets rid of padding/border around the edge of the screen, sets up the page */
* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

/* Image Style */
img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #181818;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1 rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 100px;
    margin-top: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: white;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: aquamarine;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 100%;
}

.btn {
    padding: 1rem 2rem;
    font: 1rem;
    color: white;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: rgb(0, 0, 199);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px indigo;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color:  white;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white
}

header .content p {
    margin-bottom: 2rem;
    color: white;
}

header .image {
    position: relative;
}

header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 45%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: rgb(231, 189, 0);
    opacity: 0.3;
    z-index: -100;
}

header .image img {
    max-width: 600px;
    margin: auto;
}

section .header {
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: #292929;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover {
    background-color: #1b1b1b;
    border-color: white;
}

.features .card h4 {
    margin-bottom: 0.5rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p {
    color: rgb(184, 184, 184);
    margin-bottom: 1rem;
}

.features .card a {
    color: white;
    transition: all 0.3s ease;
}

.features .card a:hover {
    color: purple;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: rgb(184, 184, 184);
}

.pricing  {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.pricing .card {
    padding: 3rem 2rem;
    background-color: #292929;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover {
    background-color: #1b1b1b;
    color: white;
}

.pricing .card .content {
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4 {
    margin-bottom: 1rem;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3 {
    color: white;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed white;
}

.pricing .card p {
    color: white;
    margin-bottom: 0.75rem;
}

.pricing .card p i {
    color: rgb(184, 184, 184);
    font-size: 1.2rem;
    margin-right: 0.4rem;
}

.pricing .card button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
}

.pricing .card button:hover {
    background-color: blue;
    border-color: rgb(0, 0, 199);
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo {
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p {
    color: rgb(184, 184, 184);
    margin-bottom: 2rem;
}

footer .column .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a {
    color: rgb(184, 184, 184);
    border: 1px solid rgb(184, 184, 184);
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover {
    color: white;
    background-color: rgb(0, 0, 199);
    border-color: rgb(0, 0, 199);
}

footer .column h4 {
    color: white;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a {
    display: block;
    color: rgb(184, 184, 184);
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover {
    color: rgb(0, 0, 199);
    font-size: 1.25rem;
}

footer p {
    color: rgb(184, 184, 184);
}

footer button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    transition: none;
}

@media (width < 900px) {
    .nav-links {
        display: none;
    }

    header {
        grid-template-columns: repeat(1, 1fr);
    }

    header .image {
        grid-area: 1/1/2/2;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px) {
    header .image::before {
        display: none;
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        grid-template-columns: 1fr 150px;
    }
}